.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.splash {
  display: flex;
  flex-direction: column;
  position: relative;
  background: hsla(240, 18%, 20%, .8);
  overflow: hidden;
}

.top {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 44px;
}

.datetime {
  padding-right: 20px;
  box-sizing: border-box;
  opacity: 0.9;
}

.divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid white;
  opacity: 0.4;
}

.bottom {
  display: flex;
  align-items: center;
  height: 59px;
  position: relative;
}

.desktopSelector {
  margin-left: 20px;
}

.password {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.control {
  margin-left: auto;
  margin-right: 20px;
}
